<html data-ng-app="mainApp">

<head>
    <title>Admin Panel</title>
    <link rel="stylesheet" href="./assets/lib/semantic/semantic.min.css">
    <link rel="stylesheet" href="./assets/css/custom.css">

</head>

<body data-ng-controller="MainCtrl">
    <div class="ui secondary pointing top attached tabular menu">
        <a class="active item" data-tab="first">
            Ajouter un agent
        </a>
        <a class="item" data-tab="second">
            Liste des agents
        </a>
        <a class="item" data-tab="third">
            Liste des abitants
        </a>

        <!-- <div class="right menu" data-tab="first">
            <a class="ui item">
                Deconnexion
            </a>
        </div> -->
    </div>
    <div class="ui bottom attached tab segment active" data-tab="first">

        <form class="ui form">
            <div class="field">
                <label>ID</label>
                <input id="id" type="text" name="first-name" placeholder="ID">
            </div>
            <div class="field">
                <label>Nom</label>
                <input id="nom" type="text" name="last-name" placeholder="Last Name">
            </div>
            <div class="field">
                <label>Prénom</label>
                <input id="prenom" type="text" name="last-name" placeholder="Last Name">
            </div>
            <div class="field">
                <label>Departement</label>
                <select name="departement" class="ui dropdown" id="departement">
                    <option value="">Departement</option>
                    <option value="Artibonite">Artibonite</option>
                    <option value="Centre">Centre</option>
                    <option value="Grand'Anse">Grand'Anse</option>
                    <option value="Nippes">Nippes</option>
                    <option value="Nord">Nord</option>
                    <option value="Nord-Est">Nord-Est</option>
                    <option value="Nord-Ouest">Nord-Ouest</option>
                    <option value="Ouest">Ouest</option>
                    <option value="Sud-Est">Sud-Est</option>
                    <option value="Sud">Sud</option>
                </select>


            </div>

            <button id="enregistrer" class="ui button" data-ng-click="myClick()">Enregistrer</button>

        </form>
        <div id="error-message" class="ui red message" style="display: none"></div>
    </div>

    <div class="ui bottom attached tab segment" data-tab="second">

        <table id="agent-table" class="ui celled table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Departement</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                </tr>

            </tbody>
            <!-- <tfoot>
                <tr>
                    <th colspan="4">
                        <div class="ui right floated pagination menu">
                            <a class="icon item">
                                <i class="left chevron icon"></i>
                            </a>
                            <a class="item">1</a>
                            <a class="item">2</a>
                            <a class="item">3</a>
                            <a class="icon item">
                                <i class="right chevron icon"></i>
                            </a>
                        </div>
                    </th>
                </tr>
            </tfoot> -->
        </table>
        <button id="collecter" class="ui button" data-ng-click="onCollectAgents()">Collecter</button>
    </div>

    <div class="ui bottom attached tab segment" data-tab="third">
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>Header</th>
                    <th>Header</th>
                    <th>Header</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="ui ribbon label">First</div>
                    </td>
                    <td>Cell</td>
                    <td>Cell</td>
                </tr>
                <tr>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                </tr>
                <tr>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="3">
                        <div class="ui right floated pagination menu">
                            <a class="icon item">
                                <i class="left chevron icon"></i>
                            </a>
                            <a class="item">1</a>
                            <a class="item">2</a>
                            <a class="item">3</a>
                            <a class="item">4</a>
                            <a class="icon item">
                                <i class="right chevron icon"></i>
                            </a>
                        </div>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>







    <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-firestore.js"></script>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="./assets/js/jquery-3.2.1.min.js"></script>
    <script src="./assets/lib/semantic/semantic.min.js"></script>
    <script src="./assets/js/angular.min.js"></script>



    <script src="./app/app.js"></script>
    <script src="./app/controllers/MainCtrl.js"></script>

</body>

</html>